:root {
  font-family: $font-family;
  font-size: $font-size-xs-root;
  overflow-x: hidden;

  @media (min-width: $media-breakpoint-up-md) {
    font-size: $font-size-md-root;
  }

  @media (min-width: $media-breakpoint-up-xl) {
    font-size: $font-size-xl-root;
  }
}

body {
  position: relative;

  &::after {
    display: none;
    content: "";
    background-image: url($image-test-0-url);
    background-repeat: no-repeat;
    background-size: 1024px auto;
    background-position: center -73px;
    opacity: 0.5;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    height: 100%;
  }

  &.test::after {
    display: block;
  }
}
