.container {
  box-sizing: border-box;
  padding-bottom: $container-padding-bottom;
  padding-left: $container-padding-x;
  padding-right: $container-padding-x;
  padding-top: $container-padding-top;
  position: relative;
  max-width: $container-width-xxs;

  @media (min-width: $media-breakpoint-up-md) {
    max-width: $container-width-md;
  }

  @media (min-width: $media-breakpoint-up-xl) {
    max-width: $container-width-xl;
  }

  &--center {
    margin-left: auto;
    margin-right: auto;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: auto;
  grid-column-gap: 0;
  grid-row-gap: 2.9rem;

  @media (min-width: $media-breakpoint-up-xs) {
    grid-column-gap: 1.6rem;
    grid-auto-flow: dense;
  }

  @media (min-width: $media-breakpoint-up-md) {
    grid-column-gap: 1.6rem;
    grid-auto-flow: initial;
  }
}
