.header {
  &__container {
    padding-top: 4.6rem;
    padding-bottom: 4rem;
  }

  &__logo {
    height: 2.1rem;

    @media (min-width: $media-breakpoint-up-lg) {
      height: 2.8rem;
    }
  }
}
