/* Common */
$bg-color: #fff;
$outline: none;

/* Images */
$image-arrow-left-url: "../images/arrow-left.svg";
$image-arrow-right-url: "../images/arrow-right.svg";
$image-arrow-down-url: "../images/arrow-down.svg";
$image-arrow-up-url: "../images/arrow-up.svg";
$image-close-url: "../images/close.svg";
$image-close-white-url: "../images/close-white.svg";
$image-edit-url: "../images/edit.svg";

/* Fonts */
$font-family: "YS Text", sans-serif;

/* Grid */
$content-lg-width: 1000px;
$content-md-width: 704px;

$container-padding-x: 12px;
$container-padding-top: 0; /* 10px; */
$container-padding-bottom: 14px;
$container-lg-width: calc($content-lg-width + 2 * $container-padding-x);
$container-md-width: calc($content-md-width + 2 * $container-padding-x);

